/* TODO: Add you css code here*/

/* Mobile first design */
#pushowl-widget-container .pushowl-notification-widget {
    z-index: 10000 !important;
    display: block !important;
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    min-width: 100vw !important;
    max-width: 100vw !important;
    text-align: left !important;
    background-color: rgba(13, 89, 219, 1.0) !important;
}
#pushowl-widget-container .pushowl-notification-widget,
#pushowl-widget-container .pushowl-notification-widget .pushowl-widget-content .pushowl-widget-button-bar .pushowl-widget-action-btn {
    outline: none !important;
    margin: 0 !important;
    padding: 0 !important;
    float: none !important;
    color: white !important;
    font-family: 'Montserrat', sans-serif  !important;
    font-weight: normal !important;
    font-variant: normal !important;
    font-style: normal !important;
    font-size: 12px !important;
    line-height: 15px !important;
    letter-spacing: normal !important;
    text-indent: 0 !important;
    text-decoration: none !important;
    text-transform: none !important;
    text-shadow: none !important;
    direction: ltr !important;
    word-spacing: normal !important;
    white-space: normal !important;
    opacity: 1.0 !important;

    background-image: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border: 0 !important;
    transition: none !important;
}
#pushowl-widget-container .pushowl-notification-widget .pushowl-widget-bell-container {
    display: table-cell !important;
    vertical-align: middle !important;
    height:100% !important;
    padding: 15px !important;
    background-color: rgba(6, 69, 165, 1.0) !important;
}
#pushowl-widget-container .pushowl-notification-widget .pushowl-widget-bell-container img {
    background-color: transparent !important;
    float: none !important;
    width: 20px !important;
    height: 20px !important;
    min-width: 20px !important;
    min-height: 20px !important;
    max-width: 20px !important;
    max-height: 20px !important;
}
#pushowl-widget-container .pushowl-notification-widget .pushowl-widget-content {
    display: table-cell !important;
}
#pushowl-widget-container .pushowl-notification-widget .pushowl-widget-content .pushowl-widget-message {
    padding: 21px 53px 22px 16px !important;
}
#pushowl-widget-container .pushowl-notification-widget .pushowl-widget-content .pushowl-widget-button-bar {
    padding: 0 0 0 17px !important;
}
#pushowl-widget-container .pushowl-notification-widget .pushowl-widget-content .pushowl-widget-button-bar .pushowl-widget-action-btn {
    cursor: pointer !important;
    display: inline !important;
    width: 90px !important;
    height: 30px !important;
    min-width: 90px !important;
    min-height: 30px !important;
    max-width: 90px !important;
    max-height: 30px !important;
    margin-right: 10px !important;
    margin-bottom: 17px !important;
    text-align: center !important;
    background-color: rgba(6, 69, 165, 1.0) !important;
    border-bottom: 2px solid #014485 !important;
}

/* For desktop */
@media only screen and (min-width: 768px) {
    #pushowl-widget-container .pushowl-notification-widget {
        margin: 0 0 39px 20px !important;
        width: 400px !important;
        min-width: 400px !important;
        max-width: 400px !important;
    }
}